.sidebar {
  flex: 0.1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 20px;
      color: #6439ff;
      font-weight: 600;
    }
  }

  .center {
    display: flex;
    justify-content: center;
  }
  hr {
    border: 0.5px solid rgb(230, 227, 227);
  }
}
